/* About.css */
.about {
    padding: var(--margin-xl) 0;
    background-color: var(--secondary-bg);
    border-top: 2px solid var(--highlight-color);
    display: flex;
  }
  
  .about h2 {
    font-size: var(--h2-size);
    margin-bottom: var(--margin-l);
    color: var(--highlight-color);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .about-description {
    text-align: center;
    max-width: 800px;
    margin: 0 auto var(--margin-xl);
  }
  
  .features {
    display: flex;
    gap: var(--margin-l);
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  
  @media (max-width: 768px) {
    .about {
      padding: var(--margin-l) 0;
    }
  
    .about h2 {
      margin-bottom: var(--margin-s);
    }
  
    .about-description {
      margin-bottom: var(--margin-l);
    }
  }