/* FeatureCard.css */
.feature {
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    max-height: 275px;
    background-color: var(--primary-bg);
    padding: var(--margin-l);
    border-radius: var(--radius-lg);
    text-align: center;
    box-shadow: var(--shadow-md);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .feature:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-lg);
  }
  
  .feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--margin-s);
    color: var(--highlight-color);
  }
  
  .feature h3 {
    font-size: var(--h4-size);
    margin-bottom: var(--margin-s);
    color: var(--highlight-color);
  }
  
  .feature p {
    opacity: 0.9;
  }
  
  @media (max-width: 768px) {
    .feature {
      min-width: 100%;
    }
  }